{% extends "base.html" %} </br>
{% block title %} Expense Category {% endblock title %}
{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'create_category' %}">Create Category</a></li>
        </ul>
    </nav>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
